:root {
  --primary-color: white;
  --first-font-family: "Roboto", serif;
  --second-font-family: "Montserrat", serif;
}
body {
  width: 1440px;
  margin: 0 auto;
  background-color: #1b1b1b;
}

.background {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1440px;
  height: 900px;
}

.homepage-container {
  padding: 270px 0;
}

h1,
h3,
p {
  font-family: var(--first-font-family);
  color: var(--primary-color);
}

h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 4px;
}

h3 {
  font-size: 24px;
  font-weight: 200px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 20px 15px;
  width: 200px;
  margin: 40px auto;
  text-align: center;
}

.button {
  font-family: var(--second-font-family);
  font-size: 14px;
  text-decoration: none;
  color: #272142;
  font-weight: 700;
}

.row {
  width: 1152px;
  height: 280px;
}

.container {
  margin: 40px auto;
  padding: 0 auto;
  max-width: 1152px;
}

.photo-stairs {
  width: 472px;
  height: 280px;
}

.skyscape-box {
  width: 360px;
}
.photo-skyscapers {
  width: 369px;
}

.photo-design {
  width: 300px;
}

.page-size {
  font-family: var(--first-font-family);
}

.closing-header {
  color: #f65282;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16.41px;
}

.closing-text {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 30px;
}

.closing-container {
  margin: 168px 570px;
  width: 352px;
  height: 258px;
}

.col-6 {
  color: white;
}

.bg-image {
  width: 700px;
  height: 782px;
}

.caption {
  width: 560px;
  height: 639px;
  position: relative;
  top: -685px;
  left: 751px;
}

.container-images {
  display: flex;
  position: relative;
  bottom: -600px;
  left: 144px;
}

.modify-size {
  font-size: 64px;
}

.camera-type {
  background-color: #2d2727;
  padding: 15px 7px;
  width: 423px;
}

.about-button {
  margin-left: 0;
}

.image-wrapper {
  position: relative;
  bottom: -570px;
}

.navbar {
  background-color: #202020;
  height: 118px;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-collapse {
  flex-grow: 0;
}
.contact-header {
  background-color: #202020;
  height: 75px;
  width: 1330px;
}

footer {
  background-color: #282323;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  font-family: var(--first-font-family);
  font-size: 25px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

.footer-icon {
  padding-left: 222px;
}

.copyright {
  font-size: 14px;
}

.wrap-footer {
  margin-top: 633px;
}

.contact-footer {
  position: relative;
  bottom: 65px;
  right: 100px;
}

@media (max-width: 900px) {
  .navbar-toggler {
    background-color: white;
  }
  body {
    width: 900px;
  }

  .background {
    max-width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .homepage-container {
    padding-top: 128px;
    padding-bottom: 61px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 27px;
  }

  .col {
    flex: 0;
  }

  .container,
  .row {
    width: auto;
    height: 202px;
    margin-top: 3px;
    margin-bottom: 10px;
  }

  .row {
    width: 900px;
  }
  .resize-img-1 {
    width: 256px;
  }

  .resize-img-2 {
    width: 256px;
  }
  .resize-img-3 {
    width: 196px;
  }

  .resize-img-4 {
    width: 211px;
  }

  .resize-img-5 {
    width: 208px;
  }

  .photo-stairs {
    width: 292px;
    height: 194px;
  }

  .resize-img-6 {
    width: 229px;
  }

  .resize-img-7 {
    width: 231px;
    height: 181px;
  }

  .photo-skyscapers {
    width: 237px;
  }

  .resize-img-8 {
    width: 236px;
  }

  .resize-img-9 {
    width: 230px;
  }

  .photo-design {
    width: 225px;
    height: 165px;
  }

  footer {
    width: 800px;
  }

  .footer-icon {
    padding-left: 60px;
  }

  .footer-text {
    padding-left: 15px;
  }

  .gallery-wrap {
    align-items: center;
  }

  .closing-container {
    margin-left: 244px;
  }

  .closing-header {
    font-size: 25px;
  }

  .closing-text {
    font-size: 20px;
  }

  .caption {
    position: relative;
    left: 68px;
    margin-top: -70px;
  }

  section .footer-logo {
    padding-right: -10px;
  }
}
